$dark-grey: #222;
$light: 	  #ccc;
$grey:      #f5f5f5;
$dark-blue: #233444;

$dark-purple:   #150715;
$darker-purple: #100510;

$pink:          #f27db2;
$purple:        #a471b1;
$orange:        #fcbb80;
$green:         #7dc99f;
$blue:          #70cbd0;
$yellow:        #f7f05c;

$headline: 	'Playfair Display', serif;
$body:		'proxima-nova', sans-serif;

$poppins:   'proxima-nova', sans-serif;
$playfair:  'Playfair Display', serif;
$ubuntu: 'Ubuntu', sans-serif;
