.DS_store
avatars/
backups-dup-lite/
banners/
ewww/
gallery/*
gdbackup/
languages/
maintenance/
Newspaper-old/
ngg_styles/
themes-old/
upgrade/
uploads/
wflogs/

plugins/*
mu-plugins/
!plugins/stsq-reporting/
!plugins/stsq-username-check/
!plugins/bs-dark-mode-main/
!plugins/stsq-discord-sync/
!plugins/simple-discord-sso/

debug.log
themes/*
themes/bootscore-5-child/prepros.config
!themes/bootscore-5/
!themes/bootscore-5-child/

maintenance.php
/index.php
